<div class="container mx-auto">
    <h1>Technical Test Front-end Developer</h1>

    <ngui-map center="{{  position.iss_position }}" *ngIf=" position" >
        <marker position="{{ position.iss_position }}"></marker>        
    </ngui-map>

    <div *ngIf=" position">
        Latitud: {{ position.iss_position[0] }} Longuitud: {{ position.iss_position[1] }}
    </div>

    <div *ngIf="people">
        <h3>How Many People Are In Space Right Now</h3>
        <ng-container *ngFor="let p of people">
           <div class="row">
                {{ p.name }}
           </div> 
        </ng-container>
    </div>
</div>

